@model IEnumerable<MVCStackOverFlow.Models.Question>

@{
    ViewBag.Title = "Index";
}


<div>
    <h2>AllQuestoins</h2>
    <button class="btn float-left">@Html.ActionLink("Ask Question", "Create", "Question")</button>
    @*<button type="button" onclick="@Htm0l.Action("Create","Questions")" class="btn btn-primary float-right">Ask Question</button>*@
</div>
<hr />
@foreach (var question in Model)
{
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-success text-center">@Html.DisplayFor(modelItem => question.Vote)<br /> <small>Votes</small></button>
            <button type="button" class="btn btn-success text-center">@Html.DisplayFor(modelItem => question.TotalViews)<br /> <small>Views</small></button>
            @*<button class="btn btn-success text-center">@Html.DisplayFor(modelItem => question.Answers.Count()))<br /> <small>Ans</small></button>*@
        
        </div>
        <div class="col-sm-10">
            @*<p>@Html.DisplayFor(modelItem => question.QuestionTitle)</p>*@
            @Html.ActionLink(question.QuestionTitle, "Details", "Question", new { id = question.QuestionID },null );
            @foreach (var tag in question.Tags)
            {
                <button class="btn btn-dark">@Html.DisplayFor(modelItem => tag.TagName)</button>
            }
        </div>
    </div>
}


